# Run `id -u` and `id -g` to get your UID/GID.
# These are used to run the container as your host user so that
# files written by the container (e.g. capabilities.json) are owned by you.
HOST_UID=
HOST_GID=
