capabilities.filepath=/app/config/capabilities.json

### Security Properties ###
security.admin-emails=admin@example.eu
security.login-redirect=http://localhost:4200/
security.logout-redirect=http://localhost:4200/

#### EOSC AAI Authentication ####
spring.security.oauth2.client.provider.eosc.issuer-uri=
spring.security.oauth2.client.registration.eosc.client-id=
spring.security.oauth2.client.registration.eosc.client-name=EOSC
spring.security.oauth2.client.registration.eosc.client-secret=
spring.security.oauth2.client.registration.eosc.scope=openid,email,profile
spring.security.oauth2.client.registration.eosc.authorization-grant-type=authorization_code
spring.security.oauth2.resourceserver.jwt.issuer-uri=${spring.security.oauth2.client.provider.eosc.issuer-uri}
